[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dynaconf = "*"
redis = "*"
scrapy = "*"
stevedore = "*"
pydantic = "*"

[dev-packages]
isort = "*"
tox = "*"
pytest = "*"
pytest-cov = "*"
pylint = "*"
pytest-mock = "*"

[requires]
python_version = "3.7"
