[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dynaconf = "*"
stevedore = "*"
pydantic = "*"
fake-useragent = "*"
click = "*"
aioredis = "*"
aiosqlite = "*"
apscheduler = "*"
lxml = "*"
aiomysql = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
httpx = "*"

[dev-packages]
isort = "*"
tox = "*"
pytest = "*"
pytest-cov = "*"
pylint = "*"
pytest-mock = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.10"
